# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Slurm
slurm_logs/
slurm-*.out

# Generated outputs
results/
figures/
debugging/